{{>header}}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <h1 class="a11y">{{section}}</h1>
  </header>

  <main role="main" class="inner cover">
    <h4 class="a11y">{{config.metas.title}}</h4>
    {{!-- <img src="{{config.metas.og_image}}" width="200" /> --}}

    <p class="center">
      somosvos.org
    </p>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner cover">

    </div>
  </footer>
</div>

{{>footer}}