{{>header}}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <h1 class="a11y">{{section}}</h1>
  </header>

  <main role="main" class="inner cover center" style="text-align: center; margin: 0 auto;">
    <h4 class="a11y">{{config.metas.title}}</h4>
    {{!-- <img src="{{config.metas.og_image}}" width="200" /> --}}

    <br />
    <p class="center" style="max-width: 600px;">
      Fundacion <b>Somos Vos</b> es una organización sin fines de lucro que trabaja para mejorar la calidad de vida de
      las personas con discapacidad y sus familias.
      <br>
      <br>
      <a href="https://www.facebook.com/fundacionsomosvos" target="_blank" class="btn btn-primary">Facebook</a>
      <a href="https://www.instagram.com/fundacionsomosvos/" target="_blank" class="btn btn-primary">Instagram</a>
    </p>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner cover">

    </div>
  </footer>
</div>

{{>footer}}